{% extends "base.html" %}

{% block head %}
    <title>Ofipensiones - Pagos Pendientes</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Consultar Pagos Pendientes</h2>
        <form id="consultaForm" class="mt-4" action="{% url 'pagos_pendientes' %}" method="get">
            <div class="form-group">
                <label for="codigoEstudiante">Número de Identificación del Estudiante:</label>
                <input type="text" class="form-control" id="codigoEstudiante" name="codigo_estudiante" placeholder="Ingresa el número de identificación del estudiante" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Consultar</button>
        </form>
    </div>
{% endblock %}
