{% extends 'base.html' %}

{% block head %}
    <title>OfiPensiones - Página Principal</title>
    <style>
        .title-container {
            text-align: center;
            margin-top: 20px;
        }
        .school-image {
            display: block;
            margin: 20px auto;
            width: 300px; 
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="title-container">
        <h1>Bienvenido a Ofipensiones</h1>
        <img src="https://i.pinimg.com/originals/69/b1/85/69b185d3892fe3fd8b5c42533b255b35.png" alt="Icono de escuela" class="school-image">
    </div>
{% endblock %}
